backports.statistics==0.1.0
click==8.1.7
Click==7.0
Cython==3.0.10
dl==0.1.0
Flask==1.1.2
ipaddr==2.2.0
keyring==18.0.1
mypy_extensions==1.0.0
numpy==1.24.3
numpy==1.17.4
ordereddict==1.1
wincertstore==0.2.1
